# Telegram Bot Configuration
BOT_TOKEN=YOUR_TELEGRAM_TOKEN
DEV_BOT_TOKEN=YOUR_DEV_TELEGRAM_TOKEN
ADMIN_USER_ID=0

# GitHub API Configuration  
GITHUB_TOKEN=YOUR_GITHUB_TOKEN

# Optional Settings
DEBUG=false
